  version: 2.1
  jobs:
    build:
      docker: 
        - image: circleci/node:4.8.2 # the primary container, where your job's commands are run
      steps:
        - checkout # check out the code in the project directory
        - run: ifconfig ##checking ip of local image
        - run: who am i
        - run: whoami
        - run: ls -la .ssh/
